{% extends 'base.html' %}
{% block title %}
    Todo Lists
{% endblock title %}
{% block content%}
<main>
    <div>
        <h1>{{todo_list_detail.name}}</h1>
        <div>
            <p>
                <a href = "{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
            </p>
            <p>
                <a href = "{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
            </p>
        </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due date</th>
                </tr>
            </thead>
            <tbody>
                {% for item in todo_list_item %}
                <tr>
                    <td>
                        {{item.task}}
                    </td>
                    <td>
                        {{item.due_date}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

</body>
</html>
